.autocomplete-dropdown-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
  }

  .suggestion-item {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
  }
  
  .suggestion-item--active {
    background-color: #fafafa;
  }
  textarea{
    width:100%;
    height: 100px;
  }
  input{
    width:100%;
  }
  TimeInput .time-from{
    width: 40%;
    margin-left: 0;
  }
  TimeInput .time-to{
    width: 40%;
    margin-right: 0;
  }
  Label{
    margin-left:0px;
  }